:root {
    --primero: #E6C744;
    --letra-clara: #FFFFFF;
    --letra-oscura: #000000;
    --letra-semioscura: #7F7F7F;
    --fondo: #FFFFFF;
    --fondo-semioscuro: #F4F6F5;
    --degradado: linear-gradient(360deg, #E0C340 0%, #DFC23E 3.93%, #E1C441 7.23%, #E3C743 10.23%, #E4C542 13.14%, #E6C744 16.22%, #E7C845 19.84%, #E5C643 24.38%, #E6C945 31.00%, #E3C743 37.19%, #E9CA48 43.33%, #EDCE49 50.36%, #F0D44C 56.57%, #F4D84F 62.71%, #F6DA52 67.12%, #F7DB53 73.77%, #F9DD55 79.08%, #F9DF56 85.64%, #FAE157 93.50%, #F9DF56 100%);
}