/* ----- INICIO: Header  ----- */

.cabecera {
    padding: 0.5rem 0;
}

.cabecera-contenido {
    justify-content: space-between;
    align-items: center;
}

.navescritorio {
    display: none;
}

.tooglemovil {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
    .tooglemovil {
        display: none;
    }

    .navescritorio {
        display: initial;
    }

    .navescritorio-lista {
        display: flex;
        gap: 1rem;
    }

    .navescritorio-elemento {
        list-style: none;
    }

    .navescritorio-enlace {
        text-decoration: none;
        color: var(--letra-oscura);
        text-transform: uppercase;
        font-weight: 300;
    }
}

@media screen and (min-width: 1440px) {
}

/* ----- FIN: Header  ----- */

/* ----- INICIO: Footer  ----- */

.piepagina {
    padding: 2rem;
    background-color: var(--letra-oscura);
}

.piepagina-contenido {
    display: flex;
    gap: 1rem;
}

.empresa {
    display: flex;
    flex-direction: column;
    color: var(--letra-clara);
    gap: 1rem;
    width: 40%;
}

.empresa-nombre {
    font-weight: 900;
    font-size: 1.5rem;
}

.empresa-descripcion {
    font-weight: 300;
    max-width: 300px;
}

.redessociales {
    display: flex;
    gap: .5rem;
}

.redessociales-elemento {
    background-color: var(--primero);
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    text-decoration: none;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
}

.redessociales-elemento i {
    line-height: 1;
    color: var(--letra-oscura);
}

.enlaces {
    display: flex;
    gap: 2rem;
    flex: 2 2 0%;
    justify-content: space-between;
}

.enlaces-lista {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.enlaces-elemento {
}

.enlaces-elemento_titulo a {
    font-weight: 500;
    color: var(--letra-clara);
}

.enlaces-enlace {
    font-weight: 300;
    color: var(--letra-semioscura);
    text-decoration: none;
}

/* ----- FIN: Footer  ----- */

/* ----- INICIO: Generales  ----- */

.logo {
    display: flex;
    align-items: center;
}

.logo-imagen {
    width: 1.5rem;
    height: auto;
}

.logo-nombre {
    margin-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
}

.icono {
    line-height: 1;
    font-size: 1.5rem;
}

.btn {
    text-decoration: none;
    color: var(--letra-clara);
    background-color: var(--letra-oscura);
    text-transform: uppercase;
    padding: 0.5rem 1rem;
}

.seccion-titulo {
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

/* ----- FIN: Generales  ----- */

/* ----- INICIO: Plantilla  ----- */

/* ----- FIN: Plantilla  ----- */
